Configurar cada una de las variables

#App flask
export PORT = 0000

#Db config
export DATABASE_NAME ='basename.db'
export DATABASE_PATH ='/ruta/base/de/datos/basename.db'

#jwt config
export JWT_SECRET_KEY = 'TONGEO'
export JWT_ACCESS_TOKEN_EXPIRES = 3600


#mail config
export MAIL_SERVER=smtp.gmail.com
export MAIL_PORT=587
export MAIL_USE_TLS=True
export MAIL_USERNAME="example@gmail.com"
export MAIL_PASSWORD="clave/correo"
export MAIL_DEFAULT_SENDER="BackendApp App <Backend@ejercicio.com>"
